# -------------------------
# Node Modules
# -------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# -------------------------
# Logs
# -------------------------
logs
*.log
.log.
log/
debug.log
error.log

# -------------------------
# Environment Files
# -------------------------
.env
.env.local
.env.development
.env.production
.env.test

# -------------------------
# Build / Dist
# -------------------------
dist/
build/
.cache/
.next/
out/

# -------------------------
# Dependency directories
# -------------------------
bower_components/

# -------------------------
# OS / System Files
# -------------------------
.DS_Store
Thumbs.db
*.swp
*.swo

# -------------------------
# Editor folders
# -------------------------
.vscode/
.idea/
.sublime
*.code-workspace

# -------------------------
# Temporary Files
# -------------------------
tmp/
temp/
*.tmp
*.temp

# -------------------------
# Coverage / Testing
# -------------------------
coverage/
.nyc_output/
jest-cache/
jest-dist/

# -------------------------
# TypeScript
# -------------------------
*.tsbuildinfo

# -------------------------
# Production
# -------------------------
*.pem
*.key

# -------------------------
# Other
# -------------------------
uploads/
public/uploads/